html {
    background: url('/static/BreizhCamp.png') no-repeat top center;
}
body {
    margin-top:350px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:70px;
}
fieldset {
    padding:10px;
}
.baspage {
    margin-bottom:35px;
}
h2 {
    font-family: 'Sonsie One', cursive;
    margin-top:50px;
    text-align: center;
    font-size:60px;
}
h3 {
    font-family: 'Sonsie One', cursive;
    text-align: center;
    font-size:30px;
}

.table-striped tbody tr:nth-child(odd) td.favorite {
    background-color: #f6ef2b;
}

.table-striped tbody tr td.favorite {
    background-color: #f6ef2b;
}

.table-striped tbody tr:hover  td.favorite {
    background-color: #f6ef2b;
}


@media (max-width: 480px) {

    html {
        background: none;
    }

     /* passer tous les éléments de largeur fixe en largeur automatique */
     body, element1, element2, fieldset {
       width: auto;
       margin: 0px !important;
       padding: 0px !important;
       font: 17px arial, verdana, sans-serif;
     }

    button {
        font: 15px arial, verdana, sans-serif;
        font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
        margin: 6px 0 0 0;
        padding: 15px 14px 14px 14px;
    }

     .span6, .span8 {
        width:100%!important;
     }

     /* fixer une largeur maximale  de 100 % aux éléments potentiellement problématiques */
     img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
       max-width: 100%;
     }
    /* conserver le ratio des images et empêcher les débordements de boîtes dûs aux border ou padding */
     img {
       height: auto; width: auto;
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
     }

     h2 {
         font-size:30px;
     }
     h3 {
         font-size:15px;
     }

     /* gestion des mots longs */
     textarea, table, td, th, code, pre, samp {
       word-wrap: break-word; /* passage à la ligne forcé */
       -webkit-hyphens: auto; /* césure propre */
       -moz-hyphens: auto;
       hyphens: auto;
     }
     code, pre, samp {
       white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
     }

     /* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */
     element1, element2 {
       float: none !important;
       width: auto !important
     }

     #footer {
        position: static!important;
     }
     /* Un message personnalisé */
     body:before {
       content: "Mobile";
       display: block;
       color: #777;
       text-align: center;
       font-style: italic;
     }
}